{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about2.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Enrique Viriato de Llamas</span>
              <span class="section-heading-lower">Historia</span>
            </h2>
            <p>Nació el 27 de septiembre de 1893 en Puerto Timbó, antigua y extinta localidad del Territorio Nacional del Chaco, hoy provincia del Chaco. Sus padres fueron el médico y naturalista Antonio de Llamas y Madrigal, hijo del Caballero de La Motta y descendiente del marquesado de Mena Hermosa, y doña Valentina Bernardo Prieto Quintana, hija del caballero de La Sor, ambos españoles. Los estudios que su padre realizara sobre la fauna y flora del Chaco Boreal, así como del cultivo de la Yerba mate y otras variedades de plantas exóticas que introdujo en la provincia de Misiones, lo introdujeron en el mundo de la ciencia; en tanto que la proximidad con el indio y las afluencias inmigratorias que vivía el país entonces despertaron su interés y preocupación por las problemáticas sociales.</p>
            <p>Realizó sus estudios universitarios en la ciudad de Buenos Aires, en la Facultad de Medicina, entre los años 1913 y 1920, convirtiéndose en el primer chaqueño en obtener el título de Doctor en Medicina. Durante estos años se empapa de las ideas de la Unión Cívica Radical, convirtiéndose en su adherente a pesar de la posición conservadora de su padre. Toma contacto así con figuras centrales como Hipólito Yrigoyen y Marcelo Torcuato de Alvear.

            <p>A mediados de la década de 1920 se instala en Charata, Chaco, donde se desempeñará como médico rural, pero también desplegará su actividad política ocupando varias veces la intendencia. Desde la misma, se abocó a la inclusión del indio a la sociedad, nombrando como funcionario a un cacique de la zona. También a la problemática socio-cultural que traía aparejada la inmigración. Fundó numerosas instituciones, como el Hospital en 1933, que hoy lleva su nombre, y el palacio municipal, el primero de su tipo en el interior de la provincia.</p>
            <p>En 1958, tras la Revolución Libertadora de la que sus hijos toman parte, es elegido por voto unánime de la legislatura provincial Senador Nacional, bajo la Unión Cívica Radical, por lo que se traslada a la Capital Federal. Se le reconoce, entre otras cosas, una intensa gestión parlamentaria en pos de la sanción de la Ley de Pedicuría.

            <p>Se casó con Ángela Sorribas Aubert, hija de un estanciero santafesino, con la cual tuvo tres hijos: Carlos Enrique de Llamas, Marta Elena de Llamas (Profesora de Bellas Artes) y Luis Álvaro de Llamas (Médico Cirujano).
              
            Falleció el 19 de agosto de 1963, retirado en su casa de campo de Yacanto de Calamuchita, Córdoba, deteriorado por la enfermedad de Chagas que padeció desde niño. Sus restos fueron llevados hasta el panteón familiar en el avión que el Gobierno le destinara con los honores de legislador nacional.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}