{% extends 'core/base.html' %}

{% load static %}

{% block title %}Muestra{% endblock %}

{% block content %}

<section class="page-section about-heading">
  <div class="container">
    <div class="about-heading-content mbtm">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5 forced">
            <h2 class="section-heading mb-5">
              <u>Solicitar turnos:</u>
            </h2>
            <h1 class="section-heading mb-5">
              
              <u>Pediatras disponibles:</u>
            </h1>
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Dr.Campos: </span>
               <a href="https://forms.gle/YN8ZM2iEtGcp6Zjv5"><button class="btn btn-primary bts-sm">Turno mañana</button></a>
               <a href="https://forms.gle/v4ooFL6HGkbC5BL18"><button class="btn btn-primary bts-sm">Turno tarde</button></a>
            </h2>
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Dr. Martinez: </span>
              <a href="https://forms.gle/Yf61uUSjC6TxB3m17"><button class="btn btn-primary bts-sm">Turno mañana</button></a>
              <a href="https://forms.gle/Kfyv7f2frE4dacyMA"><button class="btn btn-primary bts-sm">Turno tarde</button></a>
            </h2>
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Dr. Meana: </span>
              <a href="https://forms.gle/2Do9LcVJXzjGX8DF6"><button class="btn btn-primary bts-sm">Turno mañana</button></a>
              <a href="https://forms.gle/Uz49xfWYhSZpPwj2A"><button class="btn btn-primary bts-sm">Turno tarde</button></a>
              
            </h2>
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Dra. Goy: </span>
              <a href="https://forms.gle/DTS5Uextut8pUkv98"><button class="btn btn-primary bts-sm">Turno mañana</button></a>
              <a href="https://forms.gle/k6kcURvnXMwV6GT59"><button class="btn btn-primary bts-sm">Turno tarde</button></a>
                
            </h2>
            
            <!--Médicos generales-->
            <h1 class="section-heading mb-5">
              <u>Médicos generales:</u>
            </h1>
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Dra. Rey: </span>
              <a href="https://forms.gle/KL6j4ADAJv8DYYTf9"><button class="btn btn-primary bts-sm">Turno mañana</button></a>
              <a href="https://forms.gle/8S3rq5JPjhEmTsFe8"><button class="btn btn-primary bts-sm">Turno tarde</button></a>
            </h2>
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Dra. Oliva: </span>
              <a href="https://forms.gle/yyD1o3Kx6BuazkYt5"><button class="btn btn-primary bts-sm">Turno mañana</button></a>
              <a href="https://forms.gle/v7ES2nUPGzEyH5N98"><button class="btn btn-primary bts-sm">Turno tarde</button></a>
            </h2>
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Dra. Requena: </span>
              <a href="https://forms.gle/xsH5ZhjTCcTES9UaA"><button class="btn btn-primary bts-sm">Turno mañana</button></a>
              <a href="https://forms.gle/r3PZmVWV5iyNMZmJA"><button class="btn btn-primary bts-sm">Turno tarde</button></a>
            </h2>
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Dra. Ramos: </span>
              <a href="https://forms.gle/coYXxCDC4FsGqjCv8"><button class="btn btn-primary bts-sm">Turno mañana</button></a>
              <!--<a href="#"><button class="btn btn-primary bts-sm">Turno tarde</button></a>-->
            </h2>
           
          </h2>
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Dra. Rampazzo: </span>
            <h3>Elegir días:</h3>
            <a href="https://forms.gle/uyvGFCJE9rMmqmLg8"><button class="btn btn-primary bts-sm">Lunes</button></a>
            <a href="https://forms.gle/WMMihtiqB4Eqsfwb8"><button class="btn btn-primary bts-sm">Martes</button></a>
            <a href="https://forms.gle/cvGngZ9AnZbNNLY47"><button class="btn btn-primary bts-sm">Miércoles</button></a>
          </h2>
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Dr. Yurrita: </span>
            <a href="https://forms.gle/b49DdsSdLghqdeku6"><button class="btn btn-primary bts-sm">Turno tarde</button></a>
            
          </h2>   	
          <h1 class="section-heading mb-5">
            <u>Traumotología</u>
          </h1>
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Dr. Sánchez:</span>
            <a href="https://forms.gle/qGJE7FeuXJ6xmazx8"><button class="btn btn-primary bts-sm">turno mañana</button></a><br>
            <a href="https://forms.gle/ghhxe5Qey3myheW76"><button class="btn btn-primary bts-sm">turno tarde</button></a>   
          </h2>
          
          <h1 class="section-heading mb-5">
            <u>Neurología</u>
          </h1>
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Dra. Ambos</span>
            <a href="https://forms.gle/GXoAx9F4S39afg3s5"><button class="btn btn-primary bts-sm">Turno mañana</button></a>
            <!--<a href="#"><button class="btn btn-primary bts-sm">Prueba</button></a>--> 
          </h2>
          <h1 class="section-heading mb-5">
            <u>Odontología</u>
          </h1>
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Dra. Ávalos</span>
            <a href="https://forms.gle/4DGYwZ98bfsen7Uq5"><button class="btn btn-primary bts-sm">Extracciones: turno mañana</button></a>
            <a href="https://forms.gle/dgN9m4CTY8bBim94A"><button class="btn btn-primary bts-sm">Extracciones: turno tarde</button></a><br>
            <a href="https://forms.gle/bCbxfLXefnEN1NGR6"><button class="btn btn-primary bts-sm">Arreglos: turno mañana</button></a>
            <a href="https://forms.gle/Wvf8mi4qjTXfcrFaA"><button class="btn btn-primary bts-sm">Arreglos: turno tarde</button></a><br>
            <a href="https://forms.gle/C6tt5gCWV6DSSCjf9"><button class="btn btn-primary bts-sm">Certificado bucodental T.Mañana</button></a>
            <a href="https://forms.gle/tjjAMo4u6ZeyW7J99"><button class="btn btn-primary bts-sm">Cert. bucodental T.Tarde</button></a>
          </h2>
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Dra. Primorac</span>
            <a href="https://forms.gle/ZhXry5NNTLRg2fLh8"><button class="btn btn-primary bts-sm">Extracciones: turno mañana</button></a>
            <a href="https://forms.gle/BxyM5ru15rGXQqVS6"><button class="btn btn-primary bts-sm">Extracciones: turno tarde</button></a>
            <a href="https://forms.gle/BhxBnsmutcXSZ2Fh8"><button class="btn btn-primary bts-sm">Cert.bucodental: turno mañana</button></a>
            <a href="https://forms.gle/X6s6yGMUa8yqoxgU6"><button class="btn btn-primary bts-sm">Cert.bucodental: turno tarde</button></a>
          </h2>
            
            <!--<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfH9wHhGRoMAqwO1M829skZoUYguP8ETKEAdw3B3sm1hIydpw/viewform?embedded=true" width="640" height="1055" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>-->
            <!--formulario
                <div class="container">
                  <form class="form">
                      <h1>Formulario de Registro</h1>
                    
                      <h2>Nombre:</h2>
                      <input type="text" placeholder="Ingresa tu nombre">
                      <br>
                      <h2>Apellido:</h2>
                      <input type="text" placeholder="Ingresa tu apellido">
                      <br>
                      <h2>Especialidad:</h2>
                      <input type="text" placeholder="Ingrese nombre médico">
                      <br>
                      <h2>Número de teléfono:</h2>
                      <input type="number" placeholder="ingrese numero teléfono">
      
                      <h2>Fecha:</h2>
                      <input type="date" placeholder="Ingresa fecha">
                      
                      <input type="submit">
                    """
                  </form>
                  -->
              </div>
                <!--Fin-->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
